<h4>Introduza os seus dados de acesso</h4>
<div class="hline"></div>
	{{#warning}}
	<p class="error">{{warning}}</p>
	{{/warning}}
<br>
	<form role="form" action="#">
	  <div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" id="email" value="admin@synkdata.com">
	  </div>
	  <div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password">
	  </div>
	  <button type="button" class="btn btn-theme" onclick="synkNav().setAction('login').setArgs(gather('email,password')).go();">Login</button>
	</form>
