  <div class="form-group">
	<label for="plugin">Plugin</label>
	<select class="form-control" id="sqlPlugin">
	{{#dbPlugins}}
		<option value='{{name}}' {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
	{{/dbPlugins}}
	</select>		
  </div>

  <div class="form-group">
	<label for="host">Host</label>
	<input type="host" class="form-control" id="sqlHost" value="{{config.sqlHost}}">
  </div>
  <div class="form-group">
	<label for="user">Username</label>
	<input type="user" class="form-control" id="sqlUser" value="{{config.sqlUser}}">
  </div>
  <div class="form-group">
	<label for="pass">Password</label>
	<input type="password" class="form-control" id="sqlPass" value="{{config.sqlPass}}">
  </div>

  <div class="form-group">
	<div class="checkbox">
	<label><input type="checkbox" value="" id="instanced" {{#config.instanced}}checked="true"{{/config.instanced}}>Instanciar por User</label>
	</div>
  </div>
