<ul class="nav nav-tabs">
	{{#tabs}}
	<li {{#active}}class="active"{{/active}}><a href="#" onclick="navigate('current', 'render', 'tab={{name}}');">{{label}}</a></li>
	{{/tabs}}
</ul>
<h4>{{selectedTab.label}}</h4>
<div class="hline"></div>
	{{#warning}}
	<p class="error">{{warning}}</p>
	{{/warning}}
<br>
	<form role="form" action="#">$body
	<br>
	<div class="form-group">
		<button type="button" class="btn btn-theme" onclick="navigate('current', 'save',  gather('{{selectedTab.fields}}'))">Save</button>
	</div>
	</form>	
  
