RewriteEngine on
RewriteRule auth index.php?module=auth
RewriteRule dashboard index.php?module=dashboard
RewriteRule categories index.php?module=categories
RewriteRule clients index.php?module=clients
RewriteRule products index.php?module=products
RewriteRule users index.php?module=users
RewriteRule documents index.php?module=documents