	
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" {{#hasLogin}}onclick="synkNav().setModule('dashboard').go();" {{/hasLogin}}><img src="assets/img/logo.png" /></a>
        </div>
			
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">	
{{#hasLogin}}
            <!--<li><a href="index.html">HOME</a></li>
            <li class="active"><a href="about.html">ABOUT</a></li>             -->            
			{{#menus}}						
				{{#items.0}}
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{title}} <b class="caret"></b></a>
				  <ul class="dropdown-menu">					
					{{#items}}
					<li><a href="javascript:undefined" onclick="{{link}}">{{label}}</a></li>
					{{/items}}
				  </ul>
				</li>
				{{/items.0}}
				
				{{^items}}
				<li><a href="#" onclick="{{link}}">{{title}}</a></li>
				{{/items}}
			{{/menus}}
										
			<li><a href="#" onclick="synkNav().setModule('auth').setAction('logout').go();">{{text.site_logout}}</a></li>
{{/hasLogin}}		

			</ul>
        </div><!--/.nav-collapse -->

	<!-- search box -->
{{#hasLogin}}
    <div class="col-sm-4 col-md-4">
        <form class="navbar-form" >
        <div class="input-group">
            <input type="text" class="form-control" placeholder="{{text.site_searchbox}}" name="q" id="general_search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
    </div>
	
	<script> 			
	$("#general_search" ).autocomplete({
		source: 'index.php?module=clients&action=json&class=client&required=1',
		minLength: 2,
		select: function( event, ui ) {
			event.preventDefault();
						
			var item = ui.item;
			alert( "Selected: " + item.value + " aka " + item.label );
			$("#{{name}}_search").val(item.label);
			//$("#{{name}}").val(item.value);
		  }
		});			
	</script>	
{{/hasLogin}}		
	<!-- /search box -->
		
      </div>
    </div>

	<!--
	<div id="tab_area">
	    <div class="container">
			<div class="col-lg-6">
				<div class="panel with-nav-tabs panel-default">
					<div class="panel-heading">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#" >Default 1</a></li>
								<li><a href="#" >Default 2</a></li>
								<li><a href="#" >Default 3</a></li>
								<li class="dropdown">
									<a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
										<li><a href="#tab5default" data-toggle="tab">Default 5</a></li>
									</ul>
								</li>
							</ul>
					</div>
				</div>
			</div>	   
		</div> 
	</div><!-- /tabs -->

	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3 id="title">{{module.title}}</h3>
			</div><!-- /row -->			
	    </div> <!-- /container -->
	</div><!-- /blue -->
	
	 <div class="container mtb">
	 	<div class="row"> 		
	 		<div class="col-lg-12" id="main">
			$body
	 		</div>
	 	</div><! --/row -->
	 </div><! --/container -->

	 <div id="footerwrap">
	 	<div class="container footer">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>About Synkdata</h4>
		 			<div class="hline-w"></div>
		 			<p>A modern convenient approach to integrate all your business needs, for teams of all sizes.</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Social Links</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a href="#"><i class="fa fa-dribbble"></i></a>
		 				<a href="#"><i class="fa fa-facebook"></i></a>
		 				<a href="#"><i class="fa fa-twitter"></i></a>
		 				<a href="#"><i class="fa fa-instagram"></i></a>
		 				<a href="#"><i class="fa fa-tumblr"></i></a>
		 			</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Contacto</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				Avenida das Peras, 987,<br/>
		 				23890, Lisboa,<br/>
		 				Portugal.<br/>
		 			</p>
		 		</div>
		 	
		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->
	 	

		<script>
		window.history.pushState({"module": "{{module.name}}", "action":"", "args": ""}, "", '{{module.name}}');	
		</script>