<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>SynkCRM</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

	<link href="assets/css/morris.css" rel="stylesheet">
	
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">	
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
	
	<link href="assets/css/upload.css" rel="stylesheet">	
	

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>	
	
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/retina-1.1.0.js"></script>
	<script src="assets/js/jquery.hoverdir.js"></script>
	<script src="assets/js/jquery.hoverex.min.js"></script>
  	<script src="assets/js/jquery.isotope.min.js"></script>
	<script src="assets/js/autonumeric.js"></script>
	<script src="assets/js/validator.min.js"></script>
	<script src="assets/js/bootbox.min.js"></script>	
	<script src="assets/js/raphael.min.js"></script>	
	<script src="assets/js/morris.min.js"></script>	
	<script src="assets/js/upload.js"></script>	
	    
  </head>

	<body>
<script>
function gather(argList)
{
	var args = '';
	var s = argList.split(",");
	var i;
	for (i=0; i<s.length; i++)
	{			
		if (s[i].length<=0)
		{
			continue;
		}
		
		if (args.length>0)
		{
			args = args +'&';
		}
		
		args = args + s[i]+'=';
		var val;
		
		var element = $("#"+s[i]);
		
		/*if (element.attr('type') == 'file')
		{
			alert('detectef file '+s[i]);
			var file = document.getElementById('fileBox').files[0];
			
			//btoa()
		}
		*/
		try {
			val = element.autoNumeric("get");
			val = val.replace('.00', '');
		}
		catch(err) 
		{
			val = element.val();
		}

		if (val)
		{
			args = args + encodeURIComponent(val);
		}
		
	}
		
	return args;
}

function navigate(module, action, otherArgs)
{
	if (!action)
	{
		action = 'render';
	}
	
	var args = 'module='+module+'&action='+action;
		
	if (otherArgs)
	{
		args = args + '&'+otherArgs;
	}
		
	$.ajax({
	url: 'index.php?'+args,
	type:'POST',
	success: function(data){		
		if (data == '[RELOAD]')
		{
			location.reload(); 
		}
		else
		{
			$('#body_content').html(data);
		}
	}
	});	
}
</script>
	
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="assets/img/logo.png" /></a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">';
		
{{#hasLogin}}
            <!--<li><a href="index.html">HOME</a></li>
            <li class="active"><a href="about.html">ABOUT</a></li>             -->
            
			{{#menus}}
				{{#items.0}}
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{title}} <b class="caret"></b></a>
				  <ul class="dropdown-menu">					
					{{#items}}
					<li><a href="#" onclick="{{link}}">{{label}}</a></li>
					{{/items}}
				  </ul>
				</li>
				{{/items.0}}
				
				{{^items}}
				<li><a href="#" onclick="{{link}}">{{title}}</a></li>
				{{/items}}
			{{/menus}}
										
			<li><a href="#" onclick="navigate('auth','logout')">Sair</a></li>
{{/hasLogin}}		

			</ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>{{module.title}}</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

	 <div class="container mtb">
	 	<div class="row"> 		
	 		<div class="col-lg-12" id="body_content">
			$body
	 		</div>
	 	</div><! --/row -->
	 </div><! --/container -->

	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>About Synkdata</h4>
		 			<div class="hline-w"></div>
		 			<p>A modern convenient approach to integrate all your business needs, for teams of all sizes.</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Social Links</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a href="#"><i class="fa fa-dribbble"></i></a>
		 				<a href="#"><i class="fa fa-facebook"></i></a>
		 				<a href="#"><i class="fa fa-twitter"></i></a>
		 				<a href="#"><i class="fa fa-instagram"></i></a>
		 				<a href="#"><i class="fa fa-tumblr"></i></a>
		 			</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Contacto</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				Avenida das Peras, 987,<br/>
		 				23890, Lisboa,<br/>
		 				Portugal.<br/>
		 			</p>
		 		</div>
		 	
		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->
	 	

	</body>
</html>