{{#grid.rows}}
<form role="form" id="data_form">
{{#columns}}
	<div class="form-group form_row ui-front">
		<label for="{{name}}" class="control-label">{{label}}</label>

		{{#entity}}
			<input class="hidden" type="text" id="{{name}}" value="{{entityID}}">
			
			<input id="{{name}}_search" class="form-control" value="{{maskedValue}}">
			
			<script> 			
			$( "#{{name}}_search" ).autocomplete({
				source: 'index.php?module={{module.name}}&action=json&class={{entity}}',
				minLength: 2,
				select: function( event, ui ) {
					event.preventDefault();
					//alert( "Selected: " + ui.item.value + " aka " + ui.item.label );
					
					var item = ui.item;
					if (item.label == 'Nenhum')
					{
						item.label = '-';
					}
					$("#{{name}}_search").val(item.label);
					$("#{{name}}").val(item.value);
				  }
				});			
			</script>
		{{/entity}}
		
		{{^entity}}
			{{#options.0}}
				<select class="form-control" id="{{name}}">
				{{#options}}
					<option value='{{key}}' {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
				{{/options}}	  					  
				</select>		
			{{/options.0}}			
			
			{{^options.0}}
				{{#isUpload}}
				<input class="hidden" type="text" id="{{name}}" value="{{value}}">
				<div id="fileuploader">Upload</div>
					{{#thumb}}
					<img src="data:image/jpeg;base64,{{thumb}}" />
					{{/thumb}}
					<script>
						$("#fileuploader").uploadFile({
							url:"core/upload.php",
							dataType: "json",
							fileName:"target",
							multiple:false,
							maxFileCount:1,
							formData: {"db":"{{databaseName}}"},
							dragDropStr: "<span><b>Arraste para aqui ficheiros</b></span>",
							extErrorStr:"não é permitido. Extensões permitidas:",
							sizeErrorStr:"excedeu o limite permitido. Tamanho máximo:",
							uploadErrorStr:"Upload não autorizado",
							onSuccess:function(files,data,xhr,pd)
							{
								console.log(data);
								data = $.parseJSON(data);
								console.log(data);
								data = data[0];
								console.log(data);
								$("#{{name}}").val(data.location);
							}
						});
					</script>			
				{{/isUpload}}
				
				{{^isUpload}}
				<{{control}} type="{{type}}" class="form-control {{class}}" name="{{name}}" id="{{name}}" {{^hasContent}}value="{{value}}"{{/hasContent}} 
				rows=3 {{#required}}required data-required-error="Este campo é obrigatório."{{/required}}>{{#hasContent}}{{value}}{{/hasContent}}</{{control}}>
				{{/isUpload}}
			{{/options.0}}
			
			{{#unit}}
			<script>
			$("#{{name}}").autoNumeric("init", {
				aSep: '.',
				aDec: ',', 
				aSign: '{{unit}} '
			});
			</script>
			{{/unit}}
		{{/entity}}
		<br>
		<div class="help-block with-errors"></div>
		
	</div>
{{/columns }}	
</form>
{{/grid.rows}}
