<script>

function saveEntity(id, className)
{
	var form = $('#data_form');
	form.validator();
	form.on('submit', function (e) {
		if (e.isDefaultPrevented()) 
		{
			return;
		} 		
		
		e.preventDefault();
		
		var fields = '';
		{{#grid.headers}}
			fields = fields + '{{name}},';			
		{{/grid.headers}}	  
		
		//alert(fields);
		navigate('current', 'save', 'id='+id+'&class='+className+'&'+gather(fields));
	});
	
	form.submit();
}

function deleteEntity(id, className)
{
	bootbox.confirm("Não será possivél voltar atrás. Tem a certeza que quer apagar esta entidade?", function(val)
	{
		if (val == true)
		{
			navigate('current', 'delete', 'id='+id+'&class='+className);
		}		
	});

	
}
</script>

{{#grid.rows}}
<form role="form" id="data_form">
{{#columns}}
	<div class="form-group form_row">
		<label for="{{name}}" class="control-label">{{label}}</label>

		{{#entity}}
			<input class="hidden" type="text" id="{{name}}" value="{{entityID}}">
			
			<input id="{{name}}_search" class="form-control" value="{{value}}">
			
			<script> 			
			$( "#{{name}}_search" ).autocomplete({
				source: 'index.php?module={{module.name}}&action=json&class={{entity}}',
				minLength: 2,
				select: function( event, ui ) {
					event.preventDefault();
					//alert( "Selected: " + ui.item.value + " aka " + ui.item.label );
					
					var item = ui.item;
					if (item.label == 'Nenhum')
					{
						item.label = '-';
					}
					$("#{{name}}_search").val(item.label);
					$("#{{name}}").val(item.value);
				  }
				});			
			</script>
		{{/entity}}
		
		{{^entity}}
			{{#options.0}}
				<select class="form-control" id="{{name}}">
				{{#options}}
					<option value='{{value}}'>{{key}}</option>
				{{/options}}	  					  
				</select>		
			{{/options.0}}			
			
			{{^options.0}}
				{{#isUpload}}
				<input class="hidden" type="text" id="{{name}}" value="{{value}}">
				<div id="fileuploader">Upload</div>
					{{#thumb}}
					<img src="data:image/jpeg;base64,{{thumb}}" />
					{{/thumb}}
					<script>
						$("#fileuploader").uploadFile({
							url:"upload.php",
							dataType: "json",
							fileName:"target",
							multiple:false,
							maxFileCount:1,
							formData: {"db":"{{databaseName}}"},
							dragDropStr: "<span><b>Arraste para aqui ficheiros</b></span>",
							extErrorStr:"não é permitido. Extensões permitidas:",
							sizeErrorStr:"excedeu o limite permitido. Tamanho máximo:",
							uploadErrorStr:"Upload não autorizado",
							onSuccess:function(files,data,xhr,pd)
							{
								console.log(data);
								data = $.parseJSON(data);
								console.log(data);
								data = data[0];
								console.log(data);
								$("#{{name}}").val(data.location);
							}
						});
					</script>			
				{{/isUpload}}
				
				{{^isUpload}}
				<{{control}} type="{{type}}" class="form-control {{class}}" name="{{name}}" id="{{name}}" {{^hasContent}}value="{{value}}"{{/hasContent}} 
				rows=3 {{#required}}required data-required-error="Este campo é obrigatório."{{/required}}>{{#hasContent}}{{value}}{{/hasContent}}</{{control}}>
				{{/isUpload}}
			{{/options.0}}
			
			{{#unit}}
			<script>
			$("#{{name}}").autoNumeric("init", {
				aSep: '.',
				aDec: ',', 
				aSign: '{{unit}} '
			});
			</script>
			{{/unit}}
		{{/entity}}
		<br>
		<div class="help-block with-errors"></div>
		
	</div>
{{/columns }}	

	<div class="form-group">
		<button type="button" class="btn btn-primary" onclick="saveEntity({{rowID}}, '{{class}}')">Guardar</button>
		<button type="button" class="btn btn-primary" onclick="navigate('current', 'render')">Cancelar</button>
		<button type="button" class="btn btn-primary" onclick="deleteEntity({{rowID}}, '{{class}}')">Apagar</button>
	</div>
</form>
{{/grid.rows}}