{{#grid.rows.0}}
	{{#grid.pages.0}}
	<div class="col-md-12 text-center">
		<ul class="pagination">
		  {{#grid.pages}}
		  <li {{#disabled}}class="disabled"{{/disabled}}{{#selected}}class="active"{{/selected}}><a href="#" onclick="synkNav().setAction('paginate').setArgs('page={{id}}').go();">{{id}}{{#selected}}<span class="sr-only">(current)</span>{{/selected}}</a></li>
		  {{/grid.pages}}
		</ul>
	</div>
	{{/grid.pages.0}}

	<div class="table-responsive">
		<table class="table table-hover">
		 <thead>
		  <tr>
			{{#grid.headers}}
				{{#visible}}
				<th>{{label}}</th>
				{{/visible}}
			{{/grid.headers}}	  
		  </tr>
		 </thead>	 
	 
		 <tbody>
			{{#grid.rows}}
			  <tr>
				{{#columns}}
					{{#visible}}
					<td>
						{{#thumb}}
						<img style='width:40px; height:40px;' src="data:image/jpeg;base64,{{thumb}}" />
						{{/thumb}}
						
						{{^thumb}}
						{{maskedValue}}{{unit}}
						{{/thumb}}
					</td>
					{{/visible}}
				{{/columns }}	

				<td><a href="#" onclick="editEntity('{{rowID}}');" class="btn btn-theme small_btn">Editar</a></td>
			  </tr>
			{{/grid.rows}}
		 
		 </tbody>
		</table>
	</div>

	<div class="col-md-12 text-center">		
		<form role="form" id="controls_form">
		<button type="button" class="btn btn-theme" onclick="editEntity(0)">Criar</button>

		{{#grid.exports.0}}
		<button type="button" class="btn btn-theme dropdown-toggle" data-toggle="modal" data-target="#exportModal">Exportar</button>
		{{/grid.exports.0}}
		
		<button type="button" class="btn btn-theme" data-toggle="modal" data-target="#searchModal">Filtrar</button>
		{{#filter}}
		<button type="button" class="btn btn-theme" onclick="synkNav().setAction('unfilter').go();">Limpar</button>
		{{/filter}}
		</form>
	</div>


	{{#grid.exports.0}}
	<div id="exportModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">{{module.title}} - Exportação</h4>
		  </div>
		  <div class="modal-body">
			
			<p>Os seguintes formatos estão disponiveis para exportação de dados.</p>
			<table class="table table-hover">		
				{{#grid.exports}}
				<tr><td class="col-xs-8">{{label}}</td>
				<td class="col-xs-4"><a href="#" onclick="synkNav().setProgressBar('exportProgress').setAction('export').setArgs('format={{format}}&class={{module.entity}}').download();" class="btn btn-theme small_btn">Exportar</a></td>
				{{/grid.exports}}
			</table>
			<div class="progress">
			  <div id='exportProgress' class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;"></div>
			</div>
			
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-theme" data-dismiss="modal">Fechar</button>
		  </div>
		</div>

	  </div>
	</div>
	{{/grid.exports.0}}

	<div id="editModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">{{module.title}} - Edição</h4>
		  </div>
		  <div class="modal-body">
			
			<div id="edit_content"></div>
			
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-theme" onclick="saveEntity(currentEntityID, '{{module.entity}}');">Guardar</button>
			<button type="button" class="btn btn-theme" onclick="$('#editModal').modal('hide');	">Cancelar</button>
			<button type="button" class="btn btn-theme" onclick="deleteEntity(currentEntityID, '{{module.entity}}')">Apagar</button>
		  </div>
		</div>

	  </div>
	</div>

	<script>
	var currentEntityID;
	function editEntity(id)
	{
		currentEntityID = id;
		$('#edit_content').html('...');
		synkNav().setAction('edit').setArgs('id='+id).setTarget('edit_content').go();
		$('#editModal').modal('show');	
	}

	function saveEntity(id, className)
	{
		var form = $('#data_form');
		form.validator();
		form.on('submit', function (e) {
			if (e.isDefaultPrevented()) 
			{
				return;
			} 		
			
			e.preventDefault();
			
			var fields = '';
			{{#grid.headers}}
				fields = fields + '{{name}},';			
			{{/grid.headers}}	  
			
			//alert(fields);
					
			$('#editModal').one('hidden.bs.modal', function(){
					synkNav().setAction('save').setArgs('id='+id+'&class='+className+'&'+gather(fields)).go();
				}).modal('hide');			
			
		});
		
		form.submit();
	}

	function deleteEntity(id, className)
	{
		bootbox.confirm("Não será possivél voltar atrás.<br>Tem a certeza que quer apagar esta entidade?", function(val)
		{
			if (val == true)
			{
				$('#editModal').one('hidden.bs.modal', function(){
					synkNav().setAction('remove').setArgs('id='+id+'&class='+className).go();
				}).modal('hide');	
			}		
		});	
	}

	function searchEntity()
	{
		$('#searchModal').one('hidden.bs.modal', function(){
			synkNav().setAction('filter').setArgs('class={{module.entity}}&'+gather('field_name,field_value')).go();
		}).modal('hide');	
	}
	</script>

	<!-- Modal -->
	<div id="searchModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">{{module.title}} - Pesquisa</h4>
		  </div>
		  <div class="modal-body">
			
			<p>Some text in the modal.</p>
			<form role="form" id="search_form">
				<div class="col-xs-6">
					<div class="form-group form_row">
						<label for="field_name" class="control-label">Campo</label>
						
						<select class="form-control" id="field_name">
					{{#grid.headers}}
						<option value='{{name}}'>{{label}}</option>
					{{/grid.headers}}	  					  
						</select>				
						
						<div class="help-block with-errors"></div>
					</div>
				</div>
				
				<div class="col-xs-6">
					<div class="form-group form_row">
						<label for="field_value" class="control-label">Valor</label>
						
						<input type="text" class="form-control" id="field_value" placeholder="Insira um valor">
							
						<div class="help-block with-errors"></div>
					</div>
				</div>
				
			</form>
			
		  </div>
		  <div class="modal-footer">
		  <button type="button" class="btn btn-theme" onclick="searchEntity()">Pesquisar</button>
			<button type="button" class="btn btn-theme" data-dismiss="modal">Fechar</button>
		  </div>
		</div>

	  </div>
	</div>
{{/grid.rows.0}}

{{^grid.rows.0}}
<p>Não existem dados disponiveis no módulo {{module.title}}.</p>
	<div class="col-md-12 text-center">		
		<form role="form" id="controls_form">
		<button type="button" class="btn btn-theme" onclick="editEntity(0)">Criar</button>
	</div>
{{/grid.rows.0}}